/.env
/RASPICONFIG
token_extractor_docker/.dockerignore
token_extractor_docker/Dockerfile
token_extractor_docker/requirements.txt
token_extractor_docker/token_extractor.py
token_extractor_docker.zip
*.sample
docker-compose.yml
jellyfin-telegram-notifier
reboot-log.txt
log.txt
logs/
global.env
/apps/**/volumes
tokens.txt
*.log
leaving-soon
BibliotecaMultimedia
apps/all
apps/mediaserver/tdarr/.env
apps/experiments/.env
resized
apps/mediaserver/flags/queue/
apps/mediaserver/flags/lang-flags.bash
apps/mediaserver/flags/tmp/
apps/mediaserver/flags/cache
apps/mediaserver/flags/sonarr_queue_process_603.txt
apps/mediaserver/flags/*.lock
apps/mediaserver/**/lang_flags-install_deps.sh
apps/mediaserver/flags/data
99-lang-flags-setup.sh
volumes/